In [38]:
import pandas as pd

In [39]:
df1 = pd.read_csv('Data/genres_synopsis_type.csv')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20140 entries, 0 to 20139
Data columns (total 40 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   anime_id              20140 non-null  int64
 1   title                 20140 non-null  object
 2   episodes              20140 non-null  float64
 3   synopsis              17030 non-null  object
 4   score                 20140 non-null  float64
 5   Popularity_category   20140 non-null  object
 6   Rank_category         20140 non-null  object
 7   Genres_Action         20140 non-null  bool
 8   Genres_Adventure      20140 non-null  bool
 9   Genres_Avant Garde    20140 non-null  bool
 10  Genres_Award Winning  20140 non-null  bool
 11  Genres_Boys Love      20140 non-null  bool
 12  Genres_Comedy         20140 non-null  bool
 13  Genres_Drama          20140 non-null  bool
 14  Genres_Ecchi          20140 non-null  bool
 15  Genres_Erotica        20140 non-null  bool
 16  Genres_Fantasy        20140 non-null  bool
 17  Genres_Girls Love     20140 non-null  bool
 18  Genres_Gourmet        20140 non-null  bool
 19  Genres_Hentai         20140 non-null  bool
 20  Genres_Horror         20140 non-null  bool
 21  Genres_Mystery        20140 non-null  bool
 22  Genres_Romance        20140 non-null  bool
 23  Genres_Sci-Fi         20140 non-null  bool
 24  Genres_Slice of Life  20140 non-null  bool
 25  Genres_Sports         20140 non-null  bool
 26  Genres_Supernatural   20140 non-null  bool
 27  Genres_Suspense       20140 non-null  bool
 28  Types_Movie           20140 non-null  bool
 29  Types_Music           20140 non-null  bool
 30  Types_ONA             20140 non-null  bool
 31  Types_OVA             20140 non-null  bool
 32  Types_Special         20140 non-null  bool
 33  Types_TV              20140 non-null  bool
 34  Source_Book           20140 non-null  bool
 35  Source_Game           20140 non-null  bool
 36  Source_Light novel    20140 non-null  bool
 37  Source_Manga          20140 non-null  bool
 38  Source_Original       20140 non-null  bool
 39  Source_Visual novel   20140 non-null  bool
dtypes: bool(33), float64(2), int64(1), object(4)
memory usage: 1.7+ MB

In [40]:
df2 = pd.read_csv('Data/jikan_final.csv')
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26720 entries, 0 to 26719
Data columns (total 36 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   mal_id           26720 non-null  int64
 1   url              26720 non-null  object
 2   images           26720 non-null  object
 3   trailer          26720 non-null  object
 4   approved         26720 non-null  bool
 5   titles           26720 non-null  object
 6   title            26720 non-null  object
 7   title_english    11244 non-null  object
 8   title_japanese   26623 non-null  object
 9   title_synonyms   26720 non-null  object
 10  type             26652 non-null  object
 11  source           26720 non-null  object
 12  episodes         26106 non-null  float64
 13  status           26720 non-null  object
 14  airing           26720 non-null  bool
 15  aired            26720 non-null  object
 16  duration         26720 non-null  object
 17  rating           26164 non-null  object
 18  score            17304 non-null  float64
 19  scored_by        17304 non-null  float64
 20  rank             20722 non-null  float64
 21  popularity       26720 non-null  int64
 22  members          26720 non-null  int64
 23  favorites        26720 non-null  int64
 24  synopsis         21915 non-null  object
 25  background       2631 non-null   object
 26  season           5845 non-null   object
 27  year             5845 non-null   float64
 28  broadcast        26720 non-null  object
 29  producers        26720 non-null  object
 30  licensors        26720 non-null  object
 31  studios          26720 non-null  object
 32  genres           26720 non-null  object
 33  explicit_genres  26720 non-null  object
 34  themes           26720 non-null  object
 35  demographics     26720 non-null  object
dtypes: bool(2), float64(5), int64(4), object(25)
memory usage: 7.0+ MB

In [41]:
df2 = df2[['mal_id', 'rank', 'popularity', 'studios']]

In [42]:
df1 = pd.merge(df1, df2, how = 'inner', left_on = 'anime_id', right_on = 'mal_id')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20216 entries, 0 to 20215
Data columns (total 44 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   anime_id              20216 non-null  int64
 1   title                 20216 non-null  object
 2   episodes              20216 non-null  float64
 3   synopsis              17078 non-null  object
 4   score                 20216 non-null  float64
 5   Popularity_category   20216 non-null  object
 6   Rank_category         20216 non-null  object
 7   Genres_Action         20216 non-null  bool
 8   Genres_Adventure      20216 non-null  bool
 9   Genres_Avant Garde    20216 non-null  bool
 10  Genres_Award Winning  20216 non-null  bool
 11  Genres_Boys Love      20216 non-null  bool
 12  Genres_Comedy         20216 non-null  bool
 13  Genres_Drama          20216 non-null  bool
 14  Genres_Ecchi          20216 non-null  bool
 15  Genres_Erotica        20216 non-null  bool
 16  Genres_Fantasy        20216 non-null  bool
 17  Genres_Girls Love     20216 non-null  bool
 18  Genres_Gourmet        20216 non-null  bool
 19  Genres_Hentai         20216 non-null  bool
 20  Genres_Horror         20216 non-null  bool
 21  Genres_Mystery        20216 non-null  bool
 22  Genres_Romance        20216 non-null  bool
 23  Genres_Sci-Fi         20216 non-null  bool
 24  Genres_Slice of Life  20216 non-null  bool
 25  Genres_Sports         20216 non-null  bool
 26  Genres_Supernatural   20216 non-null  bool
 27  Genres_Suspense       20216 non-null  bool
 28  Types_Movie           20216 non-null  bool
 29  Types_Music           20216 non-null  bool
 30  Types_ONA             20216 non-null  bool
 31  Types_OVA             20216 non-null  bool
 32  Types_Special         20216 non-null  bool
 33  Types_TV              20216 non-null  bool
 34  Source_Book           20216 non-null  bool
 35  Source_Game           20216 non-null  bool
 36  Source_Light novel    20216 non-null  bool
 37  Source_Manga          20216 non-null  bool
 38  Source_Original       20216 non-null  bool
 39  Source_Visual novel   20216 non-null  bool
 40  mal_id                20216 non-null  int64
 41  rank                  17788 non-null  float64
 42  popularity            20216 non-null  int64
 43  studios               20216 non-null  object
dtypes: bool(33), float64(3), int64(3), object(5)
memory usage: 2.3+ MB

In [43]:
df1.drop(columns = 'mal_id', inplace = True)

In [44]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20216 entries, 0 to 20215
Data columns (total 43 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   anime_id              20216 non-null  int64
 1   title                 20216 non-null  object
 2   episodes              20216 non-null  float64
 3   synopsis              17078 non-null  object
 4   score                 20216 non-null  float64
 5   Popularity_category   20216 non-null  object
 6   Rank_category         20216 non-null  object
 7   Genres_Action         20216 non-null  bool
 8   Genres_Adventure      20216 non-null  bool
 9   Genres_Avant Garde    20216 non-null  bool
 10  Genres_Award Winning  20216 non-null  bool
 11  Genres_Boys Love      20216 non-null  bool
 12  Genres_Comedy         20216 non-null  bool
 13  Genres_Drama          20216 non-null  bool
 14  Genres_Ecchi          20216 non-null  bool
 15  Genres_Erotica        20216 non-null  bool
 16  Genres_Fantasy        20216 non-null  bool
 17  Genres_Girls Love     20216 non-null  bool
 18  Genres_Gourmet        20216 non-null  bool
 19  Genres_Hentai         20216 non-null  bool
 20  Genres_Horror         20216 non-null  bool
 21  Genres_Mystery        20216 non-null  bool
 22  Genres_Romance        20216 non-null  bool
 23  Genres_Sci-Fi         20216 non-null  bool
 24  Genres_Slice of Life  20216 non-null  bool
 25  Genres_Sports         20216 non-null  bool
 26  Genres_Supernatural   20216 non-null  bool
 27  Genres_Suspense       20216 non-null  bool
 28  Types_Movie           20216 non-null  bool
 29  Types_Music           20216 non-null  bool
 30  Types_ONA             20216 non-null  bool
 31  Types_OVA             20216 non-null  bool
 32  Types_Special         20216 non-null  bool
 33  Types_TV              20216 non-null  bool
 34  Source_Book           20216 non-null  bool
 35  Source_Game           20216 non-null  bool
 36  Source_Light novel    20216 non-null  bool
 37  Source_Manga          20216 non-null  bool
 38  Source_Original       20216 non-null  bool
 39  Source_Visual novel   20216 non-null  bool
 40  rank                  17788 non-null  float64
 41  popularity            20216 non-null  int64
 42  studios               20216 non-null  object
dtypes: bool(33), float64(3), int64(2), object(5)
memory usage: 2.2+ MB

In [45]:
import ast

def extract_names(entry):
    dict_list = ast.literal_eval(entry)
    return [d['name'] for d in dict_list if 'name' in d]

df1['studios'] = df1['studios'].apply(extract_names)

In [47]:
df1['studios']

0                        [Sunrise]
1                          [Bones]
2                       [Madhouse]
3                        [Sunrise]
4                 [Toei Animation]
                   ...
20211                           []
20212                      [MAPPA]
20213                   [A.C.G.T.]
20214           [Studio Crocodile]
20215    [Tomoyasu Murata Company]
Name: studios, Length: 20216, dtype: object

In [49]:
import re

def clean_studios(studio):
    cleaned_studios = re.sub(r"[^\w\s.-]", "", studio)
    return cleaned_studios


df1['studios'] = df1['studios'].apply(clean_studios)

In [ ]:
top_studios = [
    "Toei Animation", "Sunrise", "J.C.Staff", "Madhouse", 
    "TMS Entertainment", "Production I.G", "Studio Deen", 
    "Pierrot", "OLM", "Shin-Ei Animation", "A-1 Pictures", 
    "Nippon Animation", "AIC", "DLE", "Tatsunoko Production", "Trigger"
]

for studio in top_studios:
    df1[f'studio_{studio.replace(" ", "_").lower()}'] = False

for index, row in df1.iterrows():
    studios_in_row = [studios.strip() for studios in row['studios'].split(',')]
    
    for studio in top_studios:
        column_name = f'studio_{studio.replace(" ", "_").lower()}'
        if studio in studios_in_row:
            df1.at[index, column_name] = True

In [54]:
df1.to_csv('training_set.csv', index = False)

TFIDF vectorize

In [8]:
import pandas as pd

In [16]:
df = pd.read_csv('Data/training_set.csv')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20368 entries, 0 to 20367
Columns: 209 entries, anime_id to tfidf_young
dtypes: bool(49), float64(153), int64(2), object(5)
memory usage: 25.8+ MB

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pickle
import scipy.sparse

In [ ]:
vectorizer = TfidfVectorizer(max_features=150,stop_words='english',ngram_range=(1,3))
tfidf_matrix = vectorizer.fit_transform(df['synopsis'])

In [26]:
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=vectorizer.get_feature_names_out())
tfidf_df.columns = ['tfidf_' + col for col in tfidf_df.columns]
df = pd.concat([df, tfidf_df], axis=1)
df.head()

,anime_id,title,episodes,score,Popularity_category,Rank_category,Genres_Action,Genres_Adventure,Genres_Avant Garde,Genres_Award Winning,...,tfidf_various,tfidf_video,tfidf_video song,tfidf_want,tfidf_war,tfidf_way,tfidf_woman,tfidf_work,tfidf_world,tfidf_young
0,1,Cowboy Bebop,26.0,9.0,Top 100,Top 100,True,False,False,False,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000
1,5,Cowboy Bebop: Tengoku no Tobira,1.0,8.0,"Top 1,000",Top 500,True,False,False,False,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000
2,6,Trigun,26.0,8.0,Top 500,Top 500,True,False,False,False,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000
3,7,Witch Hunter Robin,26.0,7.0,"Top 2,500","Top 5,000",True,False,False,False,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000
4,8,Bouken Ou Beet,52.0,7.0,"Top 7,500","Top 5,000",True,False,False,False,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.39584

In [20]:
df.columns

Index(['anime_id', 'title', 'episodes', 'score', 'Popularity_category',
       'Rank_category', 'Genres_Action', 'Genres_Adventure',
       'Genres_Avant Garde', 'Genres_Award Winning',
       ...
       'tfidf_various', 'tfidf_video', 'tfidf_video song', 'tfidf_want',
       'tfidf_war', 'tfidf_way', 'tfidf_woman', 'tfidf_work', 'tfidf_world',
       'tfidf_young'],
      dtype='object', length=209)

In [21]:
df.drop(columns = 'synopsis', inplace = True)

In [22]:
df.to_csv('training_set.csv', index = False)

In [23]:
scipy.sparse.save_npz('tfidf_matrix.npz', tfidf_matrix)  
with open('tfidf_vectorizer.pkl', 'wb') as f:
    pickle.dump(vectorizer, f)

Add Producers as a feature

In [1]:
import pandas as pd

df = pd.read_csv('Data/training_set.csv')
df2 = pd.read_csv('Data/jikan_final.csv')

In [4]:
df2 = df2[['mal_id', 'producers']]

In [5]:
df = pd.merge(df, df2, how = "inner", left_on="anime_id", right_on="mal_id")
df.drop(columns = "mal_id", inplace=True)

In [7]:
import ast

def extract_names(entry):
    dict_list = ast.literal_eval(entry)
    return [d['name'] for d in dict_list if 'name' in d]

In [8]:
df['producers'] = df['producers'].apply(extract_names)

In [14]:
from collections import Counter

def process_producers(producers_column):
    all_producers = []
    
    for entry in producers_column:
        all_producers.extend(entry)  
    
    producer_counts = Counter(all_producers)
    return producer_counts

producer_counts = process_producers(df["producers"])
pc_df = pd.DataFrame(producer_counts.items(), columns=["Producer", "Count"]).sort_values(by="Count", ascending=False)
pc_df.head(15)

          Producer  Count
16         Aniplex    595
5         TV Tokyo    583
55          Lantis    471
37           Movic    457
143           AT-X    436
0    Bandai Visual    428
24     Pony Canyon    388
588       Kadokawa    382
3           Dentsu    379
9          Fuji TV    371
89             NHK    355
18           Sotsu    329
69       KlockWorx    321
42        Kodansha    315
7         Shueisha    312

In [18]:
top_producers = ["Aniplex", "TV Tokyo", "Lantis", "Movic", 
                 "AT-X", "Bandai Visual", "Pony Canyon", "Kadokawa", 
                 "Dentsu", "Fuji TV", "NHK", "Sotsu", "KlockWorx", "Kodansha", "Shueisha"]

for producer in top_producers:
    df[f'producer_{producer.replace(" ", "_").lower()}'] = False

for index, row in df.iterrows():
    producers_in_row = row['producers']
    
    for producer in top_producers:
        column_name = f'producer_{producer.replace(" ", "_").lower()}'
        if producer in producers_in_row:
            df.at[index, column_name] = True

In [ ]:
df.drop(columns = 'producers', inplace = True)

In [24]:
df.to_csv('training_set.csv', index = False)