In [41]:
"""
Name: Jiaxiong Guan
Email: Jiaxiong.guan65@myhunter.cuny.edu
"""

'\nName: Jiaxiong Guan\nEmail: Jiaxiong.guan65@myhunter.cuny.edu\n'

# Capstone project proposal

## 1. Title

Predicting Anime Success

## 2. Overview

This would be a fun project that would use regression models to predict an anime's score based on metadata like the anime's studio, genres, episode count, duration, synopsis, etc. This could be used on new anime coming out to see which ones may be worth watching and which would be more highly rated by the community.

## 3. Background

Myanimelist is the current go to for anime fans to check on upcoming anime and for fans to rate anime. Anime fans have to filter through dozens of new anime quarterly, and some have trouble figuring out what might be worth watching. This project will utilize anime metadata to create a model through machine learning and natural language processing to predict the anime's popularity, given key features. Ultimately this model would help pinpoint specific common trends that may correlate with positive reviews.

## 4. Data sources

1. https://www.kaggle.com/datasets/azathoth42/myanimelist
- 14,000 entry dataset with title, source, episodes, duration, rank, rating, members, studio
- Also includes info on MAL users, if needed, this is not included in the EDA for now as it may not be used

2. https://www.kaggle.com/datasets/marlesson/myanimelist-dataset-animes-profiles-reviews
- 16,000 entry dataset with title, synopsis, genres, popularity, score
- Scraped from MAL

3. https://www.kaggle.com/datasets/CooperUnion/anime-recommendations-database
- 12,000 entry dataset with title, genre, type, episodes, rating

4. https://www.kaggle.com/datasets/dbdmobile/myanimelist-dataset
- 24,000 entry dataset with title, source, episodes, duration, rank, rating
- Scraped from MAL

## 5. Analysis

(YOUR TEXT HERE)

In [42]:
import pandas as pd
import seaborn as sns

df1 = pd.read_csv('anime.csv')
df2 = pd.read_csv('animes.csv')
df3 = pd.read_csv('anime-dataset-2023.csv')

In [43]:
df1.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [44]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12232 non-null  object
 3   type      12269 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12064 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB

In [45]:
df2.head()

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,img_url,link
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...","Oct 4, 2015 to Mar 27, 2016",25.0,489888,141,25.0,8.82,https://cdn.myanimelist.net/images/anime/9/766...,https://myanimelist.net/anime/28891/Haikyuu_Se...
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"['Drama', 'Music', 'Romance', 'School', 'Shoun...","Oct 10, 2014 to Mar 20, 2015",22.0,995473,28,24.0,8.83,https://cdn.myanimelist.net/images/anime/3/671...,https://myanimelist.net/anime/23273/Shigatsu_w...
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...","Jul 7, 2017 to Sep 29, 2017",13.0,581663,98,23.0,8.83,https://cdn.myanimelist.net/images/anime/6/867...,https://myanimelist.net/anime/34599/Made_in_Abyss
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","['Action', 'Military', 'Adventure', 'Comedy', ...","Apr 5, 2009 to Jul 4, 2010",64.0,1615084,4,1.0,9.23,https://cdn.myanimelist.net/images/anime/1223/...,https://myanimelist.net/anime/5114/Fullmetal_A...
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,"['Action', 'Mystery', 'Supernatural', 'Vampire']","Jan 6, 2017",1.0,214621,502,22.0,8.83,https://cdn.myanimelist.net/images/anime/3/815...,https://myanimelist.net/anime/31758/Kizumonoga...

In [46]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19311 entries, 0 to 19310
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   uid         19311 non-null  int64
 1   title       19311 non-null  object
 2   synopsis    18336 non-null  object
 3   genre       19311 non-null  object
 4   aired       19311 non-null  object
 5   episodes    18605 non-null  float64
 6   members     19311 non-null  int64
 7   popularity  19311 non-null  int64
 8   ranked      16099 non-null  float64
 9   score       18732 non-null  float64
 10  img_url     19131 non-null  object
 11  link        19311 non-null  object
dtypes: float64(3), int64(3), object(6)
memory usage: 1.8+ MB

In [47]:
df2 = df2.drop(['img_url', 'link'], axis = 1)

In [48]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19311 entries, 0 to 19310
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   uid         19311 non-null  int64
 1   title       19311 non-null  object
 2   synopsis    18336 non-null  object
 3   genre       19311 non-null  object
 4   aired       19311 non-null  object
 5   episodes    18605 non-null  float64
 6   members     19311 non-null  int64
 7   popularity  19311 non-null  int64
 8   ranked      16099 non-null  float64
 9   score       18732 non-null  float64
dtypes: float64(3), int64(3), object(4)
memory usage: 1.5+ MB

In [49]:
# Combine df1 and df2 on id

df2 = df2.rename(columns = {'uid': 'anime_id'})
merged_df = pd.merge(df1, df2, on = 'anime_id', how = 'inner')
merged_df.drop_duplicates(keep = 'first', inplace = True)
merged_df.head(2)

,anime_id,name,genre_x,type,episodes_x,rating,members_x,title,synopsis,genre_y,aired,episodes_y,members_y,popularity,ranked,score
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,Kimi no Na wa.,"Mitsuha Miyamizu, a high school girl, yearns t...","['Romance', 'Supernatural', 'School', 'Drama']","Aug 26, 2016",1.0,1139878,15,4.0,9.09
2,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","['Action', 'Military', 'Adventure', 'Comedy', ...","Apr 5, 2009 to Jul 4, 2010",64.0,1615084,4,1.0,9.23

In [50]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12250 entries, 0 to 14622
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   anime_id    12250 non-null  int64
 1   name        12250 non-null  object
 2   genre_x     12189 non-null  object
 3   type        12225 non-null  object
 4   episodes_x  12250 non-null  object
 5   rating      12018 non-null  float64
 6   members_x   12250 non-null  int64
 7   title       12250 non-null  object
 8   synopsis    11926 non-null  object
 9   genre_y     12250 non-null  object
 10  aired       12250 non-null  object
 11  episodes_y  12185 non-null  float64
 12  members_y   12250 non-null  int64
 13  popularity  12250 non-null  int64
 14  ranked      11029 non-null  float64
 15  score       12227 non-null  float64
dtypes: float64(4), int64(4), object(8)
memory usage: 1.6+ MB

In [51]:
merged_df = merged_df.drop(['episodes_x', 'members_x', 'genre_y'], axis = 1)
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12250 entries, 0 to 14622
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   anime_id    12250 non-null  int64
 1   name        12250 non-null  object
 2   genre_x     12189 non-null  object
 3   type        12225 non-null  object
 4   rating      12018 non-null  float64
 5   title       12250 non-null  object
 6   synopsis    11926 non-null  object
 7   aired       12250 non-null  object
 8   episodes_y  12185 non-null  float64
 9   members_y   12250 non-null  int64
 10  popularity  12250 non-null  int64
 11  ranked      11029 non-null  float64
 12  score       12227 non-null  float64
dtypes: float64(4), int64(3), object(6)
memory usage: 1.3+ MB

In [52]:
merged_df = merged_df.dropna()
merged_df = merged_df.rename(columns = {'genre_x': 'Genre',
                                        'episodes_y' : 'Episodes',
                                        'members_y' : 'Members'})
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10461 entries, 0 to 14476
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   anime_id    10461 non-null  int64
 1   name        10461 non-null  object
 2   Genre       10461 non-null  object
 3   type        10461 non-null  object
 4   rating      10461 non-null  float64
 5   title       10461 non-null  object
 6   synopsis    10461 non-null  object
 7   aired       10461 non-null  object
 8   Episodes    10461 non-null  float64
 9   Members     10461 non-null  int64
 10  popularity  10461 non-null  int64
 11  ranked      10461 non-null  float64
 12  score       10461 non-null  float64
dtypes: float64(4), int64(3), object(6)
memory usage: 1.1+ MB

In [53]:
df3.head()

,anime_id,Name,English name,Other name,Score,Genres,Synopsis,Type,Episodes,Aired,...,Studios,Source,Duration,Rating,Rank,Popularity,Favorites,Scored By,Members,Image URL
0,1,Cowboy Bebop,Cowboy Bebop,カウボーイビバップ,8.75,"Action, Award Winning, Sci-Fi","Crime is timeless. By the year 2071, humanity ...",TV,26.0,"Apr 3, 1998 to Apr 24, 1999",...,Sunrise,Original,24 min per ep,R - 17+ (violence & profanity),41.0,43,78525,914193.0,1771505,https://cdn.myanimelist.net/images/anime/4/196...
1,5,Cowboy Bebop: Tengoku no Tobira,Cowboy Bebop: The Movie,カウボーイビバップ 天国の扉,8.38,"Action, Sci-Fi","Another day, another bounty—such is the life o...",Movie,1.0,"Sep 1, 2001",...,Bones,Original,1 hr 55 min,R - 17+ (violence & profanity),189.0,602,1448,206248.0,360978,https://cdn.myanimelist.net/images/anime/1439/...
2,6,Trigun,Trigun,トライガン,8.22,"Action, Adventure, Sci-Fi","Vash the Stampede is the man with a $$60,000,0...",TV,26.0,"Apr 1, 1998 to Sep 30, 1998",...,Madhouse,Manga,24 min per ep,PG-13 - Teens 13 or older,328.0,246,15035,356739.0,727252,https://cdn.myanimelist.net/images/anime/7/203...
3,7,Witch Hunter Robin,Witch Hunter Robin,Witch Hunter ROBIN (ウイッチハンターロビン),7.25,"Action, Drama, Mystery, Supernatural",Robin Sena is a powerful craft user drafted in...,TV,26.0,"Jul 3, 2002 to Dec 25, 2002",...,Sunrise,Original,25 min per ep,PG-13 - Teens 13 or older,2764.0,1795,613,42829.0,111931,https://cdn.myanimelist.net/images/anime/10/19...
4,8,Bouken Ou Beet,Beet the Vandel Buster,冒険王ビィト,6.94,"Adventure, Fantasy, Supernatural",It is the dark century and the people are suff...,TV,52.0,"Sep 30, 2004 to Sep 29, 2005",...,Toei Animation,Manga,23 min per ep,PG - Children,4240.0,5126,14,6413.0,15001,https://cdn.myanimelist.net/images/anime/7/215...

In [54]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24905 entries, 0 to 24904
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   anime_id      24905 non-null  int64
 1   Name          24905 non-null  object
 2   English name  24905 non-null  object
 3   Other name    24905 non-null  object
 4   Score         24905 non-null  object
 5   Genres        24905 non-null  object
 6   Synopsis      24905 non-null  object
 7   Type          24905 non-null  object
 8   Episodes      24905 non-null  object
 9   Aired         24905 non-null  object
 10  Premiered     24905 non-null  object
 11  Status        24905 non-null  object
 12  Producers     24905 non-null  object
 13  Licensors     24905 non-null  object
 14  Studios       24905 non-null  object
 15  Source        24905 non-null  object
 16  Duration      24905 non-null  object
 17  Rating        24905 non-null  object
 18  Rank          24905 non-null  object
 19  Popularity    24905 non-null  int64
 20  Favorites     24905 non-null  int64
 21  Scored By     24905 non-null  object
 22  Members       24905 non-null  int64
 23  Image URL     24905 non-null  object
dtypes: int64(4), object(20)
memory usage: 4.6+ MB

In [55]:
df3 = df3.drop(['Premiered', 'Image URL', 'Scored By'], axis = 1)
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24905 entries, 0 to 24904
Data columns (total 21 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   anime_id      24905 non-null  int64
 1   Name          24905 non-null  object
 2   English name  24905 non-null  object
 3   Other name    24905 non-null  object
 4   Score         24905 non-null  object
 5   Genres        24905 non-null  object
 6   Synopsis      24905 non-null  object
 7   Type          24905 non-null  object
 8   Episodes      24905 non-null  object
 9   Aired         24905 non-null  object
 10  Status        24905 non-null  object
 11  Producers     24905 non-null  object
 12  Licensors     24905 non-null  object
 13  Studios       24905 non-null  object
 14  Source        24905 non-null  object
 15  Duration      24905 non-null  object
 16  Rating        24905 non-null  object
 17  Rank          24905 non-null  object
 18  Popularity    24905 non-null  int64
 19  Favorites     24905 non-null  int64
 20  Members       24905 non-null  int64
dtypes: int64(4), object(17)
memory usage: 4.0+ MB

In [56]:
final_df = pd.merge(merged_df, df3, on = 'anime_id', how = 'outer')
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24996 entries, 0 to 24995
Data columns (total 33 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   anime_id      24996 non-null  int64
 1   name          10461 non-null  object
 2   Genre         10461 non-null  object
 3   type          10461 non-null  object
 4   rating        10461 non-null  float64
 5   title         10461 non-null  object
 6   synopsis      10461 non-null  object
 7   aired         10461 non-null  object
 8   Episodes_x    10461 non-null  float64
 9   Members_x     10461 non-null  float64
 10  popularity    10461 non-null  float64
 11  ranked        10461 non-null  float64
 12  score         10461 non-null  float64
 13  Name          24945 non-null  object
 14  English name  24945 non-null  object
 15  Other name    24945 non-null  object
 16  Score         24945 non-null  object
 17  Genres        24945 non-null  object
 18  Synopsis      24945 non-null  object
 19  Type          24945 non-null  object
 20  Episodes_y    24945 non-null  object
 21  Aired         24945 non-null  object
 22  Status        24945 non-null  object
 23  Producers     24945 non-null  object
 24  Licensors     24945 non-null  object
 25  Studios       24945 non-null  object
 26  Source        24945 non-null  object
 27  Duration      24945 non-null  object
 28  Rating        24945 non-null  object
 29  Rank          24945 non-null  object
 30  Popularity    24945 non-null  float64
 31  Favorites     24945 non-null  float64
 32  Members_y     24945 non-null  float64
dtypes: float64(9), int64(1), object(23)
memory usage: 6.3+ MB

In [57]:
final_df = final_df.drop_duplicates(subset = ['anime_id'], keep = 'first')
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24956 entries, 0 to 24995
Data columns (total 33 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   anime_id      24956 non-null  int64
 1   name          10421 non-null  object
 2   Genre         10421 non-null  object
 3   type          10421 non-null  object
 4   rating        10421 non-null  float64
 5   title         10421 non-null  object
 6   synopsis      10421 non-null  object
 7   aired         10421 non-null  object
 8   Episodes_x    10421 non-null  float64
 9   Members_x     10421 non-null  float64
 10  popularity    10421 non-null  float64
 11  ranked        10421 non-null  float64
 12  score         10421 non-null  float64
 13  Name          24905 non-null  object
 14  English name  24905 non-null  object
 15  Other name    24905 non-null  object
 16  Score         24905 non-null  object
 17  Genres        24905 non-null  object
 18  Synopsis      24905 non-null  object
 19  Type          24905 non-null  object
 20  Episodes_y    24905 non-null  object
 21  Aired         24905 non-null  object
 22  Status        24905 non-null  object
 23  Producers     24905 non-null  object
 24  Licensors     24905 non-null  object
 25  Studios       24905 non-null  object
 26  Source        24905 non-null  object
 27  Duration      24905 non-null  object
 28  Rating        24905 non-null  object
 29  Rank          24905 non-null  object
 30  Popularity    24905 non-null  float64
 31  Favorites     24905 non-null  float64
 32  Members_y     24905 non-null  float64
dtypes: float64(9), int64(1), object(23)
memory usage: 6.5+ MB

From the data sets above, seems like df3 (AnimeList.csv) is the best dataset to work with as its the most recent, cleaned, and contains all the features we are looking to use.

In [63]:
df3[['Score', 'Rank']] = df3[['Score', 'Rank']].astype(float)
columns = ['Popularity', 'Members', 'Favorites']
df3 = df3[columns]
sns.pairplot(df3)

KeyError: "None of [Index(['Rank', 'Score'], dtype='object')] are in the [columns]"

## 6. Product

For my product I'd like to build a web interface or an interactive dashboard. For a minimum viable product, I'll have future anime predicted and displayed on this dashboard or website. If possible, I would crawl the MAL website portion that puts out lists on upcoming anime and have the website regularly update itself.

Tech stack:
- Pandas to manipulate data
- Scikitlearn for ML models
- Beautiful Soup could be used to crawl MAL
- NLTK or spaCy for NLP
- Flask or streamlit for the web development

Relevant Steps:
1. Data and Resource Collection
- Collect data and look for resources and guides on how to use technologies

2. Data Processing and Cleaning
- Clean data by removing nulls, duplicates
- Process data and remove unnecessary columns, determine which features to use

3. Feature Engineering
- Determine which columns to use as features 
- Determine what fit would best suit each feature 

4. Model Development and Training
- Select an appropriate ML model for the features and start training the model on data
- Divide data set into training and testing 

5. Model Testing
- Using the testing set, test the model's performance and accuracy

6. Web development
- Build the webapp or the dashboard that will display the model's predictions
- Look into web crawling